{% extends 'base.html' %}
{% load static %}
{% block 'title' %}about{% endblock 'title' %}
{% block 'content' %}

<br><br><br><br><br><br>
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
          <div class="about-img">
            <div>
            <img src={{productt.image.url}} alt=""></div>
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>{{productt.title}}</h3>
          <p class="fst-italic">
            {{productt.content}}
          </p>
          <p>
           {{productt.attributes}}
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

{% endblock 'content' %}