<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <tr>
        <!-- start item one -->
        <td>
            <div class="item">
                <div class="item-front">
                    <img src="pics/m.jpg" />
                </div>
                <div class="item-back">
                    <img src="pics/mm.jpg" />
                </div>
            </div>
            <p>سونی مدل a5<br /><span class="itemNum">A5 2017</span></p>
            <p class="description">خلاصه توضیح در مورد محصول مورد نظر</p>
        </td>
        <td>1000000 تومان</td>
        <td>
            <input type="number" class="quantity" value="1" min="1" />
            <a href="#" class="remove">حذف</a>
        </td>
        <td class="itemTotal">1000000 تومان</td>
        <!-- end item one -->
    </tr>
	<!-- start checkout list -->
    <div class="cost">
        <h2>پیش فاکتور</h2>

        <table class="pricing">
            <tbody>
            <tr>
                <td>قیمت کل</td>
                <td class="subtotal"></td>
            </tr>
            <tr>
                <td>مالیات</td>
                <td class="tax"></td>
            </tr>
            <tr>
                <td>هزینه ارسال</td>
                <td class="shipping">10000 تومان</td>
            </tr>
            <tr>
                <td><strong>مجموع:</strong></td>
                <td class="orderTotal"></td>
            </tr>
            </tbody>
        </table>
        <a class="cta" href="#">خرید</a>
    </div><!-- end checkout list -->
</div> <!-- End Content -->
</body><!-- This template has been downloaded from Webrubik.com -->
</html>





