{% extends 'base.html' %}
{% load static %}
{% block 'title' %}Home{% endblock 'title' %}
{% block 'content' %}







<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= initial-scale=1.0">
    <title>product</title>
</head>

<header>

  <div class="lol"></div>





</header>

<body>
  

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>our products</h2>
            <p>  the best products</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-4">
              <div class="box" data-aos="zoom-in" data-aos-delay="100">
                <span>01</span>
                <img src="{% static 'assets/img/lop.png' %}" alt="" class="lip">
                <h4><a href="{% url 'root:detail' %}"> kylie lip gloss</a></h4>
                <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>              </div>
            </div>
          
  
            <div class="col-lg-4 mt-4 mt-lg-0">
              <div class="box" data-aos="zoom-in" data-aos-delay="200">
                <span>02</span>
                <img src="{% static 'assets/img/saye.png' %}" alt="" class="lip">
                <h4><a href="detail.html">kylie eyeshadow</a></h4>
                <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest</p>
              </div>
            </div>
  
            <div class="col-lg-4 mt-4 mt-lg-0">
              <div class="box" data-aos="zoom-in" data-aos-delay="300">
                <span>03</span>
                <img src="{% static 'assets/img/glow.png' %}" alt="" class="lip1">
                
                <h4>kylie glow balm</h4>
                <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p>
              </div>
            </div>
  


            <div class="col-lg-4 mt-4 mt-lg-0">
              <div class="box" data-aos="zoom-in" data-aos-delay="300">
                <span>03</span>
                <img src="{% static 'assets/img/glow.png' %}" alt="" class="lip1">
                
                <h4>kylie glow balm</h4>
                <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p>
              </div>
            </div>




            <div class="col-lg-4 mt-4 mt-lg-0">
              <div class="box" data-aos="zoom-in" data-aos-delay="200">
                <span>02</span>
                <img src="{% static 'assets/img/saye.png' %}" alt="" class="lip">
                <h4>kylie eyeshadow</h4>
                <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest</p>
              </div>
            </div>




            <div class="col-lg-4 mt-4 mt-lg-0">
              <div class="box" data-aos="zoom-in" data-aos-delay="200">
                <span>02</span>
                <img src="{% static 'assets/img/saye.png' %}" alt="" class="lip">
                <h4>kylie eyeshadow</h4>
                <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest</p>
              </div>
            </div>


          </div>
  
        </div>
      </section><!-- End Why Us Section -->
  

</body>
</html>

{% endblock 'content' %}
